email-validator==2.2.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
httptools==0.6.4
importlib-metadata==8.0.0
itsdangerous==2.2.0
jaraco.collections==5.1.0
jinja2==3.1.6
openai-agents==0.2.3
orjson==3.11.1
packaging==24.2
pip-chill==1.0.3
platformdirs==4.2.2
pydantic-extra-types==2.10.5
pyyaml==6.0.2
retell-sdk==4.39.0
tomli==2.0.1
ujson==5.10.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
